<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    
    
    
    
  <!-- -creating an object or injecting  -->
  <bean id="texteditor" class="spell_checker.TextEditor">
<constructor-arg ref="spellchk"></constructor-arg>
</bean>

<bean id="spellchk" class="spell_checker.SpellChecker">
</bean>

  </beans>
  